<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <div class="card bg-light">
        <div class="card-body">
          <p><b>@<%= @review.user.name %> </b>: <%= @review.content %> </p>
          <%= form_for @reply, url: product_review_replies_path(@product, @review), method: :post do |f| %>
          <div class="form-group">
            <%= f.text_area :body, placeholder: "Leave a reply", class: "form-control"  %>
          </div>
          <div class="form-group">
            <%= link_to 'Back', product_path(@product), class: "btn btn-warning" %>
            <%= f.submit "Reply", class: "btn btn-success", remote: true %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <% @review.replies.each do |reply| %>
      <div class="card">
        <div class="card-body">
          <p><small><b>@<%= reply.user.name %></b> Replied <%= time_ago_in_words(reply.created_at)%> ago</small>&nbsp;&nbsp;
          <% if reply.user == current_user %>
            <%= link_to icon('far', 'trash-alt'), product_review_reply_path(@product, @review, reply), method: :delete, remote: true %>&nbsp;&nbsp;
          <% end %></p>
          <p><%= icon('far', 'comment-alt') %>&nbsp;&nbsp;<%= reply.body %>&nbsp;&nbsp;</p>
          <%if ReplyLike.find_by(reply: reply, user: current_user) %>
              <%= link_to icon('fas', 'star'), runlike_product_review_reply_path(@product, @review, reply), method: :delete, remote: true %>
            <% else %>
              <%= link_to icon('far', 'star'), rlike_product_review_reply_path(@product, @review, reply), method: :post, remote: true %>
            <% end %>
              &nbsp;<%= reply.reply_likes.count %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

