<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1>Orders</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Order No.</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order|%>
            <tr>
              <td><%= link_to order_path(order) do %>
                <%= "##{sprintf('2017%05d', order.id)}"  %>
               <% end %></td>
              <td><%= order.created_at.strftime('%-d %b %Y') %></td>
              <td><%= order.status.capitalize %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= link_to "Back to Menu", root_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>