<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-left">My Cart</h1>
      <div id="cart-content">
        <div class="row justify-content-between mt-3">
          <div class="col-7">
          <% if @cart_items && !@cart_items.empty? %>
            <table class="table table-light">
              <thead>
                <tr>
                  <th scope="col">Food</th>
                  <th scope="col">Price</th>
                  <th scope="col" colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;Quantity</th>
                  <th scope="col">Total</th>
                  <th scope="col" colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @cart_items.each do |product_id, quantity|%>
                  <tr>
                    <% product = Product.find(product_id) %>
                    <td><%= link_to product.name, product_path(product_id)  %></td>
                    <td><%= number_to_currency(product.price) %></td>
                    <td><%= link_to icon('fas', 'minus'), remove_one_product_path(product), method: :put %></td>
                    <td><%= quantity %></td>
                    <td><%= link_to icon('fas', 'plus'), add_one_product_path(product), method: :put %></td>
                    <td><%= number_to_currency(product.price * quantity.to_i) %></td>
                    <td><%= link_to icon('far', 'trash-alt'), remove_from_cart_product_path(product), method: :put %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

               <div class="d-flex justify-content-end">
                <h4 class="text-left">Grand total: <b><%= number_to_currency(current_user.cart_total_price) %></b></h4>
               </div>
               <div class="d-flex justify-content-end mt-2">
            <%= link_to "Food List", root_path, class: 'btn btn-info' %>&nbsp;&nbsp;&nbsp;
            <%= link_to "Checkout", new_transaction_path, class: 'btn btn-success' %>
            </div>
          <% else %>
          <p> Your cart is empty</p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>