<div class="container">
  <div class="row">
    <div class="col-md-3 my-3">
      <%= image_tag @restaurant.picture, class: "img-fluid rounded mx-auto"%>
    </div>
    <div class="col-md-8 offset-md-1 my-3">
       <h1><%= @restaurant.stall_name %></h1>
       <h4 class="text-muted"><%= @restaurant.stall_address %></h4>
      <div>
      <% if Relationship.find_by(user: current_user, restaurant: @restaurant) %>
        <%= link_to 'Unfollow', unfollow_restaurant_follow_path(@restaurant), method: :delete, class: "btn btn-outline-danger" %>
      <% else %>      
        <%= link_to 'Join Fellow', follow_restaurant_follow_path(@restaurant), method: :post, class: "btn btn-success" %>
      <% end %>
      <br><br>
        <p><%= Relationship.count %> followings</p>
      </div>
    </div>
  </div>
  <div class="row">
    <% @restaurant.products.each do |product| %>
      <% product.categories.each do |category| %>
        <div class="col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <p><%= link_to product_path(product) do %>
                <%= image_tag product.image, class: "card-img-top"%>
              <% end %></p>
              <h6 class="card-title text-center"><%= link_to product.name, product_path(product) %></h6>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <h5 class="text-muted"><%= category.name %></h5>
              <h5><%= number_to_currency(product.price) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
 