<% if @product.errors.any? %>
<div class="container ">
  <div class="row d-flex justify-content-center">
    <div class="alert alert-info col-md-6" role="alert">
      <h4>We have some errors here !</h4>
        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li class="mb-0"><%= msg %></li>
          <% end %>
        </ul>
      <hr>
    </div>
  </div>
<% end %>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-5">
  <%= form_for [:admin, @product] do |f| %>
      <div class="card">
          <div class="card-header">
            <h4>Forms</h4>
            <div class="card-body">
              <form>

                <div class="form-group">
                  <%= f.label :name, "Name" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :price, "Price" %>
                  <%= f.number_field :price, step: 0.1, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :description, "Description" %>
                  <%= f.text_area :description, rows: 3, class: "form-control"  %>
                </div>

                <div class="form-group">
                  <%= f.label :restaurant %>
                  <%= f.collection_select :restaurant_id, Restaurant.all, :id, :stall_name, {prompt: true}, {class: "form-control"} %>
                </div>

                <div class="form-group">
                  <%= f.label :categories, "Categories: " %>
                  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |cb| %>
                    <%= cb.label  do %>
                      <%= cb.check_box  %>
                      <%= cb.text %>
                    <% end %>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.file_field :image %>
                </div>

                <div class="form-group">
                  <%= f.submit class: "btn btn-primary" %>
                </div>
              </form>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>