<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Food</h1>
      <div>
        <%= link_to 'Food', admin_products_path %> |
        <%= link_to 'Categories', admin_categories_path %> | 
        <%= link_to 'Restaurant', admin_restaurants_path %> |
        <%= link_to 'Reviews', admin_reviews_path %> |
        <%= link_to 'Orders', admin_orders_path %> |
        <%= link_to 'Transactions', admin_transactions_path %>   
      </div>
      <br>
      <div>
        <%= link_to 'New Food', new_admin_product_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Food</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>

            <tr>
              <th scope="row"><%= product.id %></th>

              <td><%= product.name %></td>
              <td><%= number_to_currency(product.price) %></td>
            <td>
              <%= link_to 'Show', admin_product_path(product) %>
              <%= link_to 'Edit', edit_admin_product_path(product) %>
              <%= link_to 'Delete', admin_product_path(product), method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>