<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Transaction</h1>
      <div class="card">
        <div class="card-body">
          <h4>Order No: <strong><%= link_to "##{sprintf('2017%05d', @transaction.order_id )}", admin_order_path(@transaction.order_id) %></strong></h4>
          <br>
          <p>Customer Name: <%= @transaction.user.name  %></p>
          <p>Payment Status: <%= @transaction.payment_status.capitalize  %></p>
          <p>Payment Method: <%= @transaction.payment_method.capitalize %></p>
          <p>Payment Amount: <%= number_to_currency(@transaction.payment_amount) %></p>
          <p>Payment Type: <%= @transaction.payment_type.capitalize %></p>
          <p>Payment Response: <%= @transaction.payment_response %></p>
          <p>Created: <%= @transaction.created_at.localtime.strftime('%-d %b %Y %H:%M:%S') %></p>
        </div>
      </div>
      <br>
      <%= link_to 'Back', admin_transactions_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
