<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <ul class="list-group">
        <li class="list-group-item">Categories</li>
        <% @categories.each do |category| %>
          <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
      </ol>
    </nav>
    <div class="row">
      <% @category.products.each do |product| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
            <p><%= link_to product_path(product) do %>
              <%= image_tag product.image, class: "card-img-top" %> 
            <% end %></p>
              <h6 class="card-title text-center"><%= link_to product.name, product_path(product) %></h6>
            </div>
            <div class="card-footer d-flex justify-content-center">
              <h5><%= number_to_currency(product.price) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>



