<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
      <div class="card mb-3">
        <div class="card-body">
          <p>Categories</p>
          <hr>
           <% @categories.each do |category| %>
            <p><%= link_to category.name, category_path(category) %></p>
            <hr>
          <% end %>
        </div>
        <br>
      </div>

    </div>
    <div class="col-md-9 mt-2">
    <div class="row">
      <% @category.products.each do |product| %>

            <div class="col-md-4 mt-3">
              <div class="card">
                <div class="card-body">
                  <p></p>
                  <p><%= link_to product.name, product_path(product) %></p>
                  <p><%= number_to_currency(product.price) %></p>
                  <p><%= link_to 'Add to cart', products_path, class: "btn btn-success btn-block" %></p>
                </div>
              </div>
            </div>

        <% end %>
    </div>
    <br>
  <%= link_to 'Back to index', products_path, class: "btn btn-primary" %>
  </div>
</div>



