<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card mb-3">
        <div class="card-body">
          <p>Categories</p>
          <hr>
           <% @categories.each do |category| %>
            <p><%= link_to category.name, category_path(category) %></p>
            <hr>
          <% end %>
        </div>
        <br>
      </div>
    </div>
    <div class="col-md-9 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <div class="row">
      <% @products.each do |product| %>
        <% product.categories.each do |category| %>
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <p><%= link_to product_path(product) do %>
                  <%= image_tag product.image, class: "card-img-top" %> 
                <% end %></p>
                  <h6 class="card-title text-center"><%= link_to product.name, product_path(product) %></h6>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <h5 class="text-muted"><%= category.name %></h5> 
                  <h5><%= number_to_currency(product.price) %></h5>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <br>
  </div>
</div>



