<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card mb-3">
        <div class="card-body">
          <p>Categories</p>
          <hr>
           <% @categories.each do |category| %>
            <p><%= link_to category.name, category_path(category) %></p>
            <hr>
          <% end %>
        </div>
        <br>
      </div>
    </div>
    <div class="col-md-9 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <div class="row">
      <% @products.each do |product| %>
        <% product.categories.each do |category| %>
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <p>
                    <%= link_to product_path(product) do %>
                      <%= image_tag product.image, class: "img-fluid rounded mx-auto"%> 
                    <% end %>
                  </p>
                  <p><%= link_to product.name, product_path(product) %></p>
                  <p><%= category.name %></p>
                  <p><%= number_to_currency(product.price) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <br>
  </div>
</div>



