<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card mb-3">
        <div class="card-body">
          <p>Categories</p>
          <hr>
           <% @categories.each do |category| %>
            <p><%= link_to category.name, category_path(category) %></p>
            <hr>
          <% end %>
        </div>
        <br>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Filters</p>
        </div>
        <br>
      </div>
    </div>
    <div class="col-md-9 mt-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <div class="row">
      <% @products.each do |product| %>
        <% product.categories.each do |category| %>
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <p><%= filestack_image product.image, transform: filestack_transform.resize(width:215, height:215), class: "img-fluid rounded mx-auto"%> </p>
                  <p><%= link_to product.name, product_path(product) %></p>
                  <p><%= category.name %></p>
                  <p><%= number_to_currency(product.price) %></p>
                  <p><%= link_to 'Add to cart', products_path, class: "btn btn-success btn-block" %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <br>
  <%= link_to 'Back to index', products_path, class: "btn btn-primary" %>
  </div>
</div>



