<div class="container">
  <div class="row">
    <div class="col-md-7 mt-3">
      <%= filestack_image @product.image, transform: filestack_transform.resize(width:600, height:600), class: "img-fluid rounded mx-auto"%>
    </div>
    <div class="col-md-5 mt-3">
      <p>Name: <%= @product.name %></p>
      <p>Price: <%= number_to_currency(@product.price) %></p>
      <p>Description: <%= @product.description %></p>
      <% @product.categories.each do |category| %>
      <p>Categories: <%= category.name %></p>
      <p><%= link_to 'Add to cart', products_path, class: "btn btn-success btn-block" %></p>
      <% end %>
    </div>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-md-12">
    <% @product.reviews.each do |comment| %>
    <div>
      <h4><%= comment.user.name %></h4>
      <p><%= simple_format comment.content %></p>
      <p class="text-muted">
        <em><%= time_ago_in_words(comment.created_at) %> ago </em>
        <% if comment.user == current_user %>
          <%= link_to "Delete", product_review_path(@product, comment), method: :delete %>
        <% end %>
      </p>
    <%# if Like.find_by(review: @review, user: current_user) %>
      <%# link_to 'Unlike', like_product_review_path(@review), remote: true, method: :delete %>
    <%# else %>
      <%# link_to 'Like', unlike_product_review_path(@review), remote: true, method: :post %>
    <%# end %>
    </div>
    <hr>
    <% end %>
  </div>



  <div class="col-md-12">
    <%= form_for [@product, @review] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Pls write a review about us !", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-outline-dark" %>
    </div>
  <% end %>
  </div>
   
  </div>
  </div>
</div>
  <%= link_to 'Back to index', products_path %>