<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-body">

        </div>
        <br>
      </div>
    </div>
    <div class="col-md-9 mt-3">
      <div class="card">
        <div class="card-body">
          <p>Name: <%= @product.name %></p>
          <p>Price: <%= number_to_currency(@product.price) %></p>
          <p>Description: <%= @product.description %></p>
          <% @product.categories.each do |category| %>
          <p>Categories: <%= category.name %></p>
          <p><%= link_to 'Add to cart', products_path, class: "btn btn-success btn-block" %></p>
          <% end %>
        </div>
      </div>
    </div>
  <%= link_to 'Back to index', products_path %>
  </div>
</div>