<div class="container">
  <div class="row">
    <div class="col-md-7 mt-3">
      <%= image_tag @product.image, class: "img-fluid rounded mx-auto"%>
    </div>
    <div class="col-md-5 mt-3">
      <p>Name: <%= @product.name %></p>
      <p>Price: <%= number_to_currency(@product.price) %></p>
      <p>Description: <%= @product.description %></p>
      <% @product.categories.each do |category| %>
      <p>Categories: <%= category.name %></p>
      <%= link_to 'Add to cart', add_to_cart_path(@product.id), method: :put, class: "btn btn-success" %>
    <% if Favourite.find_by(product: @product) %>
      <%= link_to icon('fas', 'star'), product_unfavorite_path(@product), method: :delete %>
    <% else %>
      <%= link_to icon('far', 'star'), product_favourite_path(@product), method: :post %>
    <% end %>
      <span>&nbsp;&nbsp;<%= Favourite.count %> likes</span>

      <% end %>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
    <br>
      <h4>Food Reviews</h4>
    <%= form_for [@product, @review] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Pls write a review and post a picture about the food !", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.file_field :image_review %>

    </div>
  <% end %>
  </div>

  <br>
    <% @product.reviews.each do |review| %>
  <div class="col-md-2">
    <%= image_tag review.image_review, class: "img-fluid rounded mx-auto picture" %>
  </div>
  <div class="col-md-10">
      <div class="card">
        <div class="card-body">
        
          <small><b><%= review.user.name %></b> Reviewed <%= time_ago_in_words(review.created_at)%> ago</small>
            <% if review.user == current_user %>
              <%= link_to " - Delete", product_review_path(@product, review), method: :delete %>
            <% end %>
          <%= simple_format review.content %>
          </p>
        <% if Like.find_by(review: review, user: current_user) %>
          <%= link_to icon('fas', 'thumbs-up'), unlike_product_review_path(@product, review), method: :delete %>
        <% else %>
          <%= link_to icon('far', 'thumbs-up'), like_product_review_path(@product, review), method: :post %>
        <% end %>
        <% @product.reviews.each do |review| %>
          <%= review.likes.count %>
        <% end %>
      </div>
    </div>
  </div>
    <% end %>
  </div>
  </div>
</div>
