<div class="container">
  <div class="row">
    <div class="col-md-3 my-3">
      <%= image_tag @product.image, class: "img-fluid rounded mx-auto"%>
    </div>
    <div class="col-md-8 offset-md-1 my-3">
      <h1><%= @product.name %></h1>
      <h4><%= number_to_currency(@product.price) %></h4>
      <h5 class="text-muted"><%= @product.description %></h5>
      <% @product.categories.each do |category| %>
        <h6 class="text-muted"><%= category.name %></h6>
        <%= link_to 'Restaurant Info', restaurant_path(@restaurant), class: "btn btn-info" %>&nbsp;&nbsp;
        <%= link_to 'Add to cart', add_one_product_path(@product.id), method: :put, class: "btn btn-success" %>
        <br><br>
        <% if Favourite.find_by(product: @product, user: current_user) %>
          <p>&nbsp;&nbsp;<%= link_to icon('fas', 'thumbs-up'), product_unfavorite_path(@product), method: :delete, remote: true %> <span>&nbsp;&nbsp;<%= @product.favourites.count %> recommendation</span></p>
        <% else %>
          <p>&nbsp;&nbsp;<%= link_to icon('far', 'thumbs-up'), product_favourite_path(@product), method: :post, remote: true %> <span>&nbsp;&nbsp;<%= @product.favourites.count %> recommendation</span></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"><br>
      <h4>Food Reviews</h4>
      <%= form_for [@product, @review] do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "Pls write a review and post a picture about the food !", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
          <%= f.file_field :image_review %>
        </div>
      <% end %>
    </div><br>
    <% @product.reviews.each do |review| %>
      <div class="col-md-2 mt-3">
        <%= image_tag review.image_review, class: "img-fluid rounded mx-auto picture" %>
      </div>
      <div class="col-md-10 mt-3">
        <div class="card">
          <div class="card-body">
            <small><b><%= review.user.name %></b> Reviewed <%= time_ago_in_words(review.created_at)%> ago</small>&nbsp;&nbsp;
              <% if review.user == current_user %>
                <%= link_to icon('far', 'trash-alt'), product_review_path(@product, review), method: :delete %>
              <% end %>
              <%= simple_format review.content %>
            <% if Like.find_by(review: review, user: current_user) %>
              <%= link_to icon('fas', 'star'), unlike_product_review_path(@product, review), method: :delete, remote: true %>
            <% else %>
              <%= link_to icon('far', 'star'), like_product_review_path(@product, review), method: :post, remote: true %>
            <% end %>
              <%= review.likes.count %>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to icon('far', 'comment'), new_product_review_reply_path(@product, review) %>
              <%=review.replies.count %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>